@import "../../veriables";
.container_list {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  background: $article_background;
  border: 1px solid $blue_article_outline;
  .image_container {
    img {
      width: 300px;
      border-radius: 15px;
    }
  }
  .info {
    display: flex;
    text-align: left;
    margin-left: 2rem;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;

    .top_info {
      display: flex;
      flex-direction: column;
      .read_more {
        font-size: 12px;
        font-weight: 400;
      }
      span:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
      }
      span:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
      }
    }
    .bottom_info {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-left: auto;
      padding: 10px;
    }
  }
}

.container_gird {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background: $article_background;
  border: 1px solid $blue_article_outline;
  width: 320px;
  .image_container {
    img {
      width: 300px;
      border-radius: 15px;
    }
  }
  .info {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    .top_info {
      display: flex;
      flex-direction: column;
      .read_more {
        font-size: 12px;
        font-weight: 400;
      }
      span:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      span:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: left;
      }
    }
    .bottom_info {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-left: auto;
      padding: 5px;
      text-align: right;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
@media screen and (max-width: 650px) {
  .container_list {
    .image_container {
      img {
        width: 200px;
      }
    }
  }
}
@media screen and (max-width: 525px) {
  .container_list {
    .image_container {
      display: none;
      img {
        width: 150px;
        border-radius: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container_gird {
    width: auto;
    max-width: 280px;
    .image_container {
      img {
        width: 100%;
      }
    }
  }
}
