@import "../../../veriables";
.container {
  color: white;
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  .nav,
  .nav_hide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
  }

  .hamburger {
    display: none;
  }
  // border: 1px solid $blue_article_outline;
  border-radius: 15px;
  a {
    color: white;
    text-decoration: none;
  }
  .footer_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
div {
  cursor: pointer;
}
select {
  outline: none;
  border: 1px solid $blue_article_outline;
  border-radius: 15px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .container {
    .nav {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 15px;
      background: radial-gradient(black, #000000c2);
      z-index: 99;
      padding: 10px;
      transition: 1s ease-in-out;
      opacity: 1;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .nav_hide {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 15px;
      background: black;
      z-index: 99;
      padding: 10px;
      opacity: 0;
      transition: 1s ease-in-out;
    }
    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}
